# Auth Service Configs
NODE_ENV="development"

# Redis Config
REDIS_PORT="6379"
REDIS_HOST="127.0.0.1"

# JWT configs
JWT_EXPIRES="7d"
# run in linux: openssl rand -hex 64
# or run with node: node -e "console.log(require('crypto').randomBytes(64).toString('hex'));"
JWT_SECRET="JWT_SECRET"


# Database enviroment
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/live_bid"
