# Server Configs
PORT="3001"
HOST="0.0.0.0"
BASE_URL="api"
API_VERSION="1"
NODE_ENV="development"
FRONT_END_URL="http://localhost:3000"

# Additional
APPLICATION_NAME="Live Bid"

# Redis Config
REDIS_PORT="6379"
REDIS_HOST="127.0.0.1"
